:root{
    --secondary-color: #A80F1E;
    --primary-yellow: #F5ED0A;
    --primary-color: #ffffff;
    --black-color: #000000ff;
    --grey-color: #eeeeeeff;
    --light-orange: #e6b8afff;
    --deep-orange: #dd7e6bff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    color: #333;
    line-height: 1.6;
}


nav{
    padding-top: 60px;
    margin-bottom: 50px;
    font-weight: bold;
    height: 12%;
    box-shadow: 1px 1px 6px rgb(179, 168, 166);

}

.bg-light {
    background-color: white!important;
}

.nav-link{
    font-size: 16px;
    margin: 10px;
    color: black !important;
}
.active {
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: var(--primary-color)!important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon{
    width: 2em;
    height: 2em;
}

.ml-auto{
    margin-left: 65%;
}

.navbar-brand{
    padding-left: 7%;
}

.navbar-brand img{
    height: 70px;
}


.main{
    margin: auto;
    padding-top: 15%;
    padding-bottom: 10%;
}
.main img{
    margin: auto;
    width: 100%;
    /* padding: 10px; */
}

.cta-text{
    margin-top: 20%;
}

.cta-text h1{
    font-weight: 900;
    color: var(--black-color);
}

.cta-para{
    font-size: 1.8rem;
    line-height: 1.3;
}

.btn-get-started,
.btn-learn-more{
    border: 2px solid var(--secondary-color) !important;
    font-size: 1.2rem;
    /* font-weight: 600; */

}

.btn-get-started{
    background-color: var(--secondary-color);
    border-color: none;
}

.btn-learn-more:hover{
    background-color: var(--primary-color) !important;
    color: var(--secondary-color);
}

.btn:focus, 
.btn:active,
.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
  }

.btn-learn-more{
    color: var(--secondary-color);
}


.btn-get-started {
    margin-left: 7px;
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

p{
    font-size: 17px;
}

/* .main{
    height: 90vh;
} */
.description{
    padding: 80px;
    margin: auto;
    background-color: var(--grey-color);
    
}

.description h1{
    font-weight: 700;
    color: var(--black-color);
    padding-bottom: 10px;
}

hr{
    display: none;
    
}

.services-section {
    padding-top: 8rem;
}

.services-section h1{
    color: black;
    padding-bottom: 1.5em;
}



.services-section .svg-inline--fa{
    color: rgb(231, 78, 47);
    font-size: 3rem;
}

.section-desc{
    padding-bottom: 8rem;
}

.section-desc h3{
    font-weight: 600;
    color: var(--secondary-color);
    padding-top: 1.5rem;
    padding: 10px;
}

.process{
    width: 80%;
}

/* .process-section{
    background-color: var(--secondary-color);
} */

.process-section .col-md-3{
    /* background-color: rgb(50, 50, 175); */
    border-radius: 8px;
    padding-top: 15px;

    /* margin: 8px; */
}


.process-section h2,
.patners-section h2{
    color: var(--black-color);
    font-weight: 900;
    padding-bottom: 1%;
}

.process-section .steps{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 2.8rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin: auto;
    width: 65px;
    height: 60px;
    box-shadow: 2px 3px 8px rgb(216, 57, 25);
}


.patners-section .img-thumbnail{
    border: none;
    height: 7rem;
}

footer{
    background-color: var(--secondary-color);
    padding: 75px 50px 75px;
    color: var(--primary-color);
}

footer h3{
    font-size: 1.3em;
    font-weight: bold;
}

.resources{
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}

.resources a{
    text-decoration: none;
    color: var(--primary-color);
}

.social-link .svg-inline--fa{
    color: var(--primary-color);
    font-size: 2em;
    margin: 6px 2px;
}

.copy{
    padding-top: 5%;
    text-align: center;
    font-size: .8rem;
}



/* Media Query */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px){ 
    body { 
        padding-top: 63px; 
    }
    
    .navbar-brand img{
        height: 45px;
    }

    .cta-text h1{
        font-weight: 700;
        font-size: 1.3em;
    }

    .cta-text{
        text-align: center;
        margin: 100px 0 75px 10px;
        margin-top: 10%;
        margin-bottom: 0%;
        padding-bottom: 40px;
    }

    .cta-text p{
        font-size: 1.1em;
        text-align: center;
    }
    

    .btn-get-started,
    .btn-learn-more{
        font-size: .9rem;
    }
    
    hr{
        display: block;
        width: 10%;
        margin: auto;
        background-color: var(--secondary-color);
        border-top: 10px solid var(--secondary-color);
        border-radius: 5px;
    }
   
    .description{
        padding: 2px;
        background-color: var(--primary-color);
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .description p{
        text-align: justify;
        font-size: 1rem;
    }

    .services-section{
        /* background-color: rgb(252, 252, 252); */
        padding-top: 15%;
        padding-bottom: 0;
        margin: 0;
    }
    .services-section p{
        text-align:start;
        font-size:.95rem;
        font-weight: 500;
    }

    .services-section .svg-inline--fa{
        font-size: 1.5rem;
        padding-top: 0;
    }

    .services-section h1{
        font-weight: 700;
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .ml-auto{
        margin-left: 5%;
        background-color: var(--primary-color);
        color: var(--secondary-color) !important;
    }
    .active {
        background-color: var(--primary-color);
        color: var(--secondary-color)!important;
    }

    .nav-link{
        color: var(--secondary-color) !important;
    }
    

    .services-section h3{
        padding: 0;
        font-size: 1rem;
    }

    .section-desc{
        padding-bottom: 15%;
    }
    .process-section .col-md-3{
        margin-top: 12px;
    }
    .process-section{
        padding-top: 15%;
        padding-top: 12%;
        /* display: block; */
    }
    .process-section .steps{
        font-weight: 600;
        font-size: 1.3rem;
        margin: auto;
        width: 35px;
        height: 35px;
    }

    .patners-section{
        padding-top: 12%;   
    }

    .patners-section .img-thumbnail{
        height: 5rem;
    }
    
    footer{
        padding: 75px 10px 5px;
    }

    footer img{
        display: none;
    }
    .resources,
    .title{
        display: grid;
        align-items: center;
    }

    .social-link,
    .resources{
        text-align: center;

    }
    
    .copy{
        padding-top: 10%;
        text-align: center;
        font-size: .5rem;
    }
    
}